.imgCarrousel{
    width: 100%;
    height: 47vw;
    opacity: 0.3; 
}
.secciones{
    width: 100%;
    text-align: center;
}

.btn{
    background-color: #23A6F0 !important;
    color: white;
    border-color: #23A6F0;
}

