<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
</head>

<body>
    <!--Pre header-->
    <div class="pre-header-wrapper">
        <div class="container">
            <div class="text-center mb-3">
                <p class="mb-0">Envío gratuito en Valparaíso por compras sobre $20.000. ¡Aprovecha ahora!</p>
            </div>
            <div class="social-icons">
                <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
                <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
            </div>
        </div>
    </div>
    <!--Fin Pre header-->
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'img/logo.png' %}" alt="logo" width="60" href="{% url 'home' %}">
                Frozono</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'catalogo' %}">Catálogo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#bseller">Bestsellers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'aboutus' %}">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contacto' %}">Cont&aacute;ctanos
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Utiliza "d-flex" para alinear elementos en línea -->
            <div class="d-flex">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Iniciar sesión</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--Fin de Navbar-->
</body>

</html>