{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <style>
    /* Estilo personalizado para quitar los puntos de las viñetas */
    ul {
      list-style-type: none;
      /* Elimina los puntos de las viñetas */
    }
  </style>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDaeWicvigtP9xPv919E-RNoxfvC-Hqik"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,537;1,537&display=swap" rel="stylesheet">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png'%}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png'%}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png'%}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-J1VMDdNkLZVvG8g3fipqsNk6ogFJfyVn4xM4pM11H+7OLt8yUZLPn4Vf/9lCxVDPkFGw+tkiXH+GZwXGG+zJ8A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="manifest" href="{% static 'img/site.webmanifest'%}">
  <title>Huevos Gallina Campo | CarmenLopezDistribuidora.cl </title>
</head>

<body>
  <!--Navbar-->
  <nav class="navbar navbar-expand-lg bg-body-tertiary" style="z-index: 1000;">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'img/logo2.png' %}" alt="logo" width="60" href="{% url 'home' %}">
        CarmenLópez</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'home' %}">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'catalogo' %}">Catálogo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#bseller">Bestsellers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'aboutus' %}">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contacto' %}">Cont&aacute;ctanos
            </a>
          </li>
        </ul>
      </div>
      <!-- Utiliza "d-flex" para alinear elementos en línea -->
      <div class="d-flex">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a id="abrirModal" class="nav-link" href="#" onclick="abrirModal();">
              <span class="material-symbols-outlined" style="color: #1E321F;">
                person
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'aboutus' %}" class="nav-link">
              <span class="material-symbols-outlined" style="color: #1E321F;">
                shopping_cart
              </span>
            </a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
  <!--Fin de Navbar-->

  <!-- Carrusel -->
  <div id="carouselMyExample" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="5000">
        <div class="imgContainer">
          <img data-src="{% static 'img/gudetamatocino.webp' %}" class="imgCarrousel" alt="poto">
        </div>
        <div class="carousel-caption d-flex flex-column align-items-start justify-content-end">
          <h1 class="carousel-text display-5 d-none d-sm-block">Distribuidora Carmen L&oacute;pez</h1>
          <h2 class="carousel-text h4 d-block d-sm-none">Distribuidora Carmen L&oacute;pez</h2>
          <h3 class="carousel-text display-5 d-none d-sm-block">Blanco y de color… Es mejor</h3>
          <h4 class="carousel-text h4 d-block d-sm-none">Blanco y de color… Es mejor</h4>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <div class="imgContainer">
          <img data-src="{% static 'img/5-1_GU_WALLPAPER_1500x2000_C.webp' %}" class="imgCarrousel d-block w-100"
            alt="...">
        </div>
        <div class="carousel-caption d-flex flex-column align-items-start justify-content-end">
          <h1 class="carousel-text display-5 d-none d-sm-block">Distribuidora Carmen L&oacute;pez</h1>
          <h2 class="carousel-text h4 d-block d-sm-none">Distribuidora Carmen L&oacute;pez</h2>
          <h3 class="carousel-text display-5 d-none d-sm-block">Blanco y de color… Es mejor</h3>
          <h4 class="carousel-text h4 d-block d-sm-none">Blanco y de color… Es mejor</h4>
        </div>
      </div>

      <div class="carousel-item" data-bs-interval="5000">
        <div class="imgContainer">
          <img src="{% static 'img/BANNER-CERTIFIED.webp' %}" class="imgCarrousel d-block w-100" alt="GUDETAMA3">
        </div>
      </div>
    </div>
  </div>


  <button class="carousel-control-prev" type="button" data-bs-target="#carouselMyExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselMyExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  <!-- Fin Carrusel -->


  <!--sección Productos-->
  <a name="productos"></a>
  <hr class="rounded mb-3">

  <!--Logo Carmén Lopez-->
  <div class="d-flex justify-content-center">
    <img src="{% static 'img/GRANDE COLOR.png' %}" alt="logo" class="img-fluid">
  </div>
  <div class="container">
    <hr class="rounded mb-3">

    <!-- Sección Productos -->
    <h1 style="text-align: center;">PRODUCTOS</h1>
    <hr class="rounded mb-3">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
      <!-- Tarjeta 1 -->
      <div class="col mb-4">
        <div class="card">
          <a href="{% url 'productdetail' %}">
            <img data-src="{% static 'img/180 GOLD RANGER.webp' %}" class="card-img-top" alt="30 buebos">
          </a>
          <div class="card-body">
            <h5 class="card-title">Huevo Extra Color</h5>
            <p class="card-text">30 unidades</p>
            <p class="card-text">$8490</p>
          </div>
        </div>
      </div>
      <!-- Tarjeta 2 -->
      <div class="col mb-4">
        <div class="card">
          <a href="{% url 'productdetail' %}">
            <img data-src="{% static 'img/180 GOLD RANGER.webp' %}" class="card-img-top" alt="30 buebos">
          </a>
          <div class="card-body">
            <h5 class="card-title">Huevo Extra Color</h5>
            <p class="card-text">30 unidades</p>
            <p class="card-text">$8490</p>
          </div>
        </div>
      </div>
      <!-- Tarjeta 3 -->
      <div class="col mb-4">
        <div class="card">
          <a href="{% url 'productdetail' %}">
            <img data-src="{% static 'img/180 GOLD RANGER.webp' %}" class="card-img-top" alt="30 buebos">
          </a>
          <div class="card-body">
            <h5 class="card-title">Huevo Extra Color</h5>
            <p class="card-text">30 unidades</p>
            <p class="card-text">$8490</p>
          </div>
        </div>
      </div>
      <!-- Tarjeta 4 -->
      <div class="col mb-4">
        <div class="card">
          <a href="{% url 'productdetail' %}">
            <img data-src="{% static 'img/180 GOLD RANGER.webp' %}" class="card-img-top" alt="30 buebos">
          </a>
          <div class="card-body">
            <h5 class="card-title">Huevo Extra Color</h5>
            <p class="card-text">30 unidades</p>
            <p class="card-text">$8490</p>
          </div>
        </div>
      </div>
      <!-- Fin sección Productos -->
    </div>

    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-6">
          <div id="map"></div>
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h1 class="card-title">Datos del Local: </h1>
            <hr class="rounded mb-3">
            <h2>Información de Contacto</h2>
            <p><strong>Dirección:</strong> San Antonio 1385, 2531138 Viña del Mar, Valparaíso</p>
            <p><strong>Teléfono:</strong> +56322972805</p>
            <p><strong>Plus Code:</strong> XFR4+7X Viña del Mar</p>

            <!-- Horarios de Atención -->
            <div class="accordion" id="horariosAccordion">
              <!-- Horarios de Atención Header -->
              <div class="accordion-item">
                <h2 class="accordion-header" id="horariosHeader">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#horariosCollapse" aria-expanded="true" aria-controls="horariosCollapse">
                    Horarios de Atención
                  </button>
                </h2>
                <div id="horariosCollapse" class="accordion-collapse collapse show" aria-labelledby="horariosHeader"
                  data-bs-parent="#horariosAccordion">
                  <div class="accordion-body">
                    <!-- Horarios de Atención Contenido -->
                    <p><strong>Lunes a Sábado:</strong> 7:45 a. m.–5:30 p. m.</p>
                    <p><strong>Domingo:</strong> Cerrado</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Ventana Modal -->
    <div id="ventanaModal" class="modal">
      <div class="contenido-modal">
        <span class="close" onclick="cerrarModal()">&times;</span>
        <h1 style="text-align: center;">Iniciar Sesión</h1>
        <form class="loginForm" id="loginForm">
          <!-- Campos del formulario -->
          <div class="form-group">
            <label for="user">Usuario:</label>
            <input class="form-control contactInput" type="text" id="user" name="user" required>
          </div>
          <div class="form-group">
            <label for="pass">Contraseña:</label>
            <input class="form-control contactInput" type="password" id="pass" name="pass" required>
          </div>
          <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
          <p>¿No tienes cuenta aún? | <a href="{% url 'registro'%}">Regístrate</a></p>
        </form>
      </div>
    </div>

  </div>


  <!-- Fin Ventana Modal -->
  <footer class="footer bg-dark text-light py-4">
    <div class="container">
      <div class="row">
        <!-- Sección del logo y sobre nosotros -->
        <div class="row">
          <div class="col-md-4 mb-3 d-flex align-items-end">
            <img src="{% static 'img/logo2.png' %}" alt="Logo" class="footer-logo mb-2">
          </div>
          <div class="col-md-8 mb-3">
            <p style="text-align: justify"> <br>"Desde el corazón de Viña del Mar, la Distribuidora de Huevos Carmen López se enorgullece de ser su proveedor de huevos frescos y de calidad desde 1960. Nuestra misión es nutrir a las familias con lo mejor de la granja directamente a su hogar, garantizando siempre frescura y sabor en cada huevo. Contamos con clientes fieles que han confiado en nosotros durante décadas, respaldando así nuestro negocio consolidado."</p>
          </div>
        </div>

        <!-- Sección de enlaces rápidos -->
        <div class="row">
          <div class="col-md-4 mb-3">
            <h5 class="text-uppercase mb-4">Enlaces Rápidos</h5>
            <ul class="list-unstyled">
              <li><a href="#" class="footer-link">Nosotros</a></li>
              <li><a href="#" class="footer-link">Servicios</a></li>
              <li><a href="#" class="footer-link">Contacto</a></li>
            </ul>
          </div>

          <!-- Sección de contacto y redes sociales -->
          <div class="col-md-4 mb-3">
            <h5 class="text-uppercase mb-4">Contacto</h5>
            <ul class="list-unstyled">
              <li><a href="tel:+56322972805" class="footer-link">+56 3 2 2972805</a></li>
              <li><a href="mailto:contacto@empresa.com" class="footer-link">CarmenLopez@Distribuidora.cl</a></li>
            </ul>
            <div class="social-icons">
              <a href="https://www.facebook.com/distribuidoradehuevoscarmenlopez/" class="social-icon"
                target="_blank"><i class="fab fa-facebook-f"></i></a>
              <a href="https://wa.me/c/56938946675" class="social-icon" target="_blank"><i
                  class="fab fa-twitter"></i></a>
              <a href="https://www.instagram.com/distribuidora_carmenlopez/" class="social-icon" target="_blank"><i
                  class="fab fa-instagram"></i></a>
            </div>
          </div>
        </div>

        <!-- Scripts -->
        <script>
          // Función para abrir la ventana modal con lazy loading
          function abrirModal() {
            // Asegúrate de que la ventana modal esté oculta inicialmente y solo se muestre cuando esta función se ejecute
            var modal = document.getElementById('ventanaModal');
            modal.style.display = 'flex'; // Cambiar a 'flex' para activar Flexbox
            modal.style.opacity = '0'; // Iniciar con opacidad 0 para el efecto de lazy loading

            // Incrementar gradualmente la opacidad para el efecto de carga diferida
            setTimeout(function () {
              modal.style.opacity = '1';
            }, 100); // Puedes ajustar el tiempo según prefieras
          }

          // Función para cerrar la ventana modal
          function cerrarModal() {
            var modal = document.getElementById('ventanaModal');
            modal.style.display = 'none';
          }

          // Evento para cerrar la modal si se hace clic fuera de ella
          window.onclick = function (event) {
            var modal = document.getElementById('ventanaModal');
            if (event.target == modal) {
              cerrarModal();
            }
          }
        </script>

        <script>
          function iniciarMap() {
            var coord = { lat: -33.0092618, lng: -71.5425126 };
            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 14,
              center: coord
            });
            var marker = new google.maps.Marker({
              position: coord,
              map: map
            });
          }
        </script>



        <script>
          document.addEventListener("DOMContentLoaded", function () {
            var lazyImages = [].slice.call(document.querySelectorAll("img[data-src]"));

            if ("IntersectionObserver" in window) {
              var lazyImageObserver = new IntersectionObserver(function (entries, observer) {
                entries.forEach(function (entry) {
                  if (entry.isIntersecting) {
                    var lazyImage = entry.target;
                    lazyImage.src = lazyImage.dataset.src;
                    lazyImage.classList.remove("lazy");
                    lazyImageObserver.unobserve(lazyImage);

                    // Agrega la clase 'loaded' para activar la transición suave
                    lazyImage.classList.add("loaded");
                  }
                });
              });

              lazyImages.forEach(function (lazyImage) {
                lazyImageObserver.observe(lazyImage);
              });
            } else {
              // Polyfill o alternativa para navegadores que no soportan IntersectionObserver
              // Puedes cargar las imágenes de forma estándar para estos navegadores
              lazyImages.forEach(function (lazyImage) {
                lazyImage.src = lazyImage.dataset.src;
              });
            }
          });
        </script>

        <!-- Carga de librerías de Bootstrap -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
          crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" crossorigin=""></script>
        <script src="{% static 'js/javascript.js' %}"></script>
        <script
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDaeWicvigtP9xPv919E-RNoxfvC-Hqik&callback=iniciarMap"></script>
</body>




</html>