{% extends 'frozono/base.html'}
{% block contenido}
<!-- Carrusel -->
<div id="carouselMyExample" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="5000">
      <div class="imgContainer">
        <img data-src="" class="imgCarrousel" alt="poto">
      </div>
      <div class="carousel-caption d-flex flex-column align-items-start justify-content-end">
        <h1 class="carousel-text display-5 d-none d-sm-block">Distribuidora Carmen L&oacute;pez</h1>
        <h2 class="carousel-text h4 d-block d-sm-none">Distribuidora Carmen L&oacute;pez</h2>
        <h3 class="carousel-text display-5 d-none d-sm-block">Blanco y de color… Es mejor</h3>
        <h4 class="carousel-text h4 d-block d-sm-none">Blanco y de color… Es mejor</h4>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <div class="imgContainer">
        <img data-src="{% static 'img/5-1_GU_WALLPAPER_1500x2000_C.webp' %}" class="imgCarrousel d-block w-100"
          alt="...">
      </div>
      <div class="carousel-caption d-flex flex-column align-items-start justify-content-end">
        <h1 class="carousel-text display-5 d-none d-sm-block">Distribuidora Carmen L&oacute;pez</h1>
        <h2 class="carousel-text h4 d-block d-sm-none">Distribuidora Carmen L&oacute;pez</h2>
        <h3 class="carousel-text display-5 d-none d-sm-block">Blanco y de color… Es mejor</h3>
        <h4 class="carousel-text h4 d-block d-sm-none">Blanco y de color… Es mejor</h4>
      </div>
    </div>

    <div class="carousel-item" data-bs-interval="5000">
      <div class="imgContainer">
        <img data-src="{% static 'img/BANNER-CERTIFIED.webp' %}" class="imgCarrousel d-block w-100" alt="GUDETAMA3">
      </div>
    </div>
  </div>
</div>


<button class="carousel-control-prev" type="button" data-bs-target="#carouselMyExample" data-bs-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next" type="button" data-bs-target="#carouselMyExample" data-bs-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Next</span>
</button>
<!-- Fin Carrusel -->


<!--sección Productos-->
<a name="productos"></a>
<hr class="rounded mb-3">

<!--Logo Carmén Lopez-->
<div class="d-flex justify-content-center">
  <img data-src="{% static 'img/GRANDE COLOR.png' %}" alt="logo" class="img-fluid">
</div>
<div class="container">
  <hr class="rounded mb-3">

  <!-- Sección Productos -->
  <h1 style="text-align: center;">PRODUCTOS</h1>
  <hr class="rounded mb-3">
  <section class="section-container">
    <div id="scrollLeft" class="scroll-icon scroll-icon-left">
      <i class="fas fa-arrow-left"></i>
    </div>
    <div class="product-list-container">
      <div class="product-list" id="productList">
        <!-- Product 1 -->
        <div class="product-card">
          <div class="product-image">
            <img data-src="{% static 'img/120 GOLD RANGERS.webp' %}" alt="Product 1 Image">
          </div>
          <div class="product-details">
            <h3>Bandeja 120 Huevos</h3>
            <p>Calidad Premium</p>
            <span class="price">$19990</span>
            <div>
              <a href="{% url 'productdetail' %}" class="btn-comprar">Comprar</a>
            </div>
          </div>
        </div>
        <!-- Product 2 -->
        <div class="product-card">
          <div class="product-image">
            <img data-src="{% static 'img/120 GOLD RANGERS.webp' %}" alt="Product 1 Image">
          </div>
          <div class="product-details">
            <h3>Bandeja 120 Huevos</h3>
            <p>Calidad Premium</p>
            <span class="price">$19990</span>
            <div>
              <a href="{% url 'productdetail' %}" class="btn-comprar">Comprar</a>
            </div>
          </div>
        </div>
        <!-- Product 3 -->
        <div class="product-card">
          <div class="product-image">
            <img data-src="{% static 'img/120 GOLD RANGERS.webp' %}" alt="Product 1 Image">
          </div>
          <div class="product-details">
            <h3>Bandeja 120 Huevos</h3>
            <p>Calidad Premium</p>
            <span class="price">$19990</span>
            <div>
              <a href="{% url 'productdetail' %}" class="btn-comprar">Comprar</a>
            </div>
          </div>
        </div>
        <!-- Product 4 -->
        <div class="product-card">
          <div class="product-image">
            <img data-src="{% static 'img/120 GOLD RANGERS.webp' %}" alt="Product 1 Image">
          </div>
          <div class="product-details">
            <h3>Bandeja 120 Huevos</h3>
            <p>Calidad Premium</p>
            <span class="price">$19990</span>
            <div>
              <a href="{% url 'productdetail' %}" class="btn-comprar">Comprar</a>
            </div>
          </div>
        </div>
        <!-- Product 5 -->
        <div class="product-card">
          <div class="product-image">
            <img data-src="{% static 'img/120 GOLD RANGERS.webp' %}" alt="Product 1 Image">
          </div>
          <div class="product-details">
            <h3>Bandeja 120 Huevos</h3>
            <p>Calidad Premium</p>
            <span class="price">$19990</span>
            <div>
              <a href="{% url 'productdetail' %}" class="btn-comprar">Comprar</a>
            </div>
          </div>
        </div>
        <!-- Product 6 -->
        <div class="product-card">
          <div class="product-image">
            <img data-src="{% static 'img/120 GOLD RANGERS.webp' %}" alt="Product 1 Image">
          </div>
          <div class="product-details">
            <h3>Bandeja 120 Huevos</h3>
            <p>Calidad Premium</p>
            <span class="price">$19990</span>
            <div>
              <a href="{% url 'productdetail' %}" class="btn-comprar">Comprar</a>
            </div>
          </div>
        </div>
        <!-- Product 7 -->
        <div class="product-card">
          <div class="product-image">
            <img data-src="{% static 'img/120 GOLD RANGERS.webp' %}" alt="Product 1 Image">
          </div>
          <div class="product-details">
            <h3>Bandeja 120 Huevos</h3>
            <p>Calidad Premium</p>
            <span class="price">$19990</span>
            <div>
              <a href="{% url 'productdetail' %}" class="btn-comprar">Comprar</a>
            </div>
          </div>
        </div>
        <!-- Product 8 -->
        <div class="product-card">
          <div class="product-image">
            <img data-src="{% static 'img/120 GOLD RANGERS.webp' %}" alt="Product 1 Image">
          </div>
          <div class="product-details">
            <h3>Bandeja 120 Huevos</h3>
            <p>Calidad Premium</p>
            <span class="price">$19990</span>
            <div>
              <a href="{% url 'productdetail' %}" class="btn-comprar">Comprar</a>
            </div>
          </div>
        </div>
        <!-- Product 9 -->
        <div class="product-card">
          <div class="product-image">
            <img data-src="{% static 'img/120 GOLD RANGERS.webp' %}" alt="Product 1 Image">
          </div>
          <div class="product-details">
            <h3>Bandeja 120 Huevos</h3>
            <p>Calidad Premium</p>
            <span class="price">$19990</span>
            <div>
              <a href="{% url 'productdetail' %}" class="btn-comprar">Comprar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="scrollRight" class="scroll-icon">
      <i class="fas fa-arrow-right"></i>
    </div>

  </section>


  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-6">
        <div id="map"></div>
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h1 class="card-title">Datos del Local: </h1>
          <hr class="rounded mb-3">
          <h2>Información de Contacto</h2>
          <p><strong>Dirección:</strong> San Antonio 1385, 2531138 Viña del Mar, Valparaíso</p>
          <p><strong>Teléfono:</strong> +56322972805</p>
          <p><strong>Plus Code:</strong> XFR4+7X Viña del Mar</p>

          <!-- Horarios de Atención -->
          <div class="accordion" id="horariosAccordion">
            <!-- Horarios de Atención Header -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="horariosHeader">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                  data-bs-target="#horariosCollapse" aria-expanded="true" aria-controls="horariosCollapse">
                  Horarios de Atención
                </button>
              </h2>
              <div id="horariosCollapse" class="accordion-collapse collapse show" aria-labelledby="horariosHeader"
                data-bs-parent="#horariosAccordion">
                <div class="accordion-body">
                  <!-- Horarios de Atención Contenido -->
                  <p><strong>Lunes a Sábado:</strong> 7:45 a. m.–5:30 p. m.</p>
                  <p><strong>Domingo:</strong> Cerrado</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}